.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBox {
  width: 400px;
  height: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput {
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 18px;
  padding-left: 20px;
}

.loginInput:focus {
  outline: none;
}

.signinButton {
  height: 50px;
  border-radius: 100px;
  border: none;
  background-color: #0ec268;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.registerButton {
  width: 60%;
  align-self: center;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #ca4a50;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
